.no-symbol {
    border-left: none;
}
blockquote:before {
    content: ""; 
}
.carousel-indicators li {
  border: 1px solid #6ad2eb;
}
.carousel-indicators .active {
  background-color: #6ad2eb;
}
.carousel-indicators .hover {
  background-color: #6ad2eb;
}
/*.container{*/
    /*width: 1061px;*/
/*}*/
#page-content{
    background-color: #ffffff;
}
.ajaxcontainer, #ajax_inner {
  display: inline-block;
  width: 100%;
}
.ajaxcontainer .content_wrap {
  margin-left: -1%;
  margin-right: -1%;
}

.contentlistoutter {
  margin-bottom: 40px;
  margin-left: 1%;
  margin-right: 1% !important;
  width: 23%;
}

.contentlistoutter:hover .theme_image_buttons,
.theme_image_wrap:hover .theme_image_buttons{
top: 0;
}

.contentlistoutter_inner {
  transition: all 300ms ease-out 0s;
  background: none repeat scroll 0 0 #f4f4f4;
  border: 1px solid #efefef;
  border-radius: 4px;
}

.contentheadingwrap {
  margin-bottom: 12px;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  background: -moz-linear-gradient(center top , #e8e8e8 0%, #f4f4f4 80%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 50px;
  margin-top: 1px;
}

.contentheading {
   margin-bottom: 0;
  margin-bottom: 27px;
  margin-left: 15px;
  margin-top: 19px;
}
.contentheading a {
  color: #333333;
  font-size: 1.1em;
  font-weight: 300;
}
a.contentpagetitle {
  font-size: 18px;
  font-weight: normal;
  color: #000000;
  font-size: 1.1em !important;
  font-weight: 300 !important;
}
.contentpagetitle {
  font-size: 12px;
}
a {
  color: #45c3e3;
  text-decoration: none;
}
.contentheading_date {
  color: #494949;
  float: right;
  font-size: 13px;
  margin-right: 16px;
  margin-top: 17px;
}
.theme_image_wrap {
  display: inline-block;
  margin-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  width: 90%;
}
.theme_image_wrap_inner {
  max-width: 459px;
  overflow: hidden;
  position: relative;
}
.theme_image_wrap_inner img {
  display: block;
  max-width: 100%;
  width: 100%;
}
#navv, img {
  transition: all 200ms ease-in-out 0s;
}
img {
  max-width: 100% !important;
}
.theme_image_buttons {
  background: url("http://www.shape5.com/images/image_wrap_bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 100%;
  line-height: 100%;
  padding-top: 20%;
  position: absolute;
  width: 100%;
}
.theme_image_buttons a {
  background: none repeat scroll 0 0 #6f6f73;
  color: #ffffff !important;
}
.theme_image_buttons a, .theme_image_buttons button {
  border: medium none;
  box-shadow: none !important;
  color: #ffffff;
  display: inline-block;
  float: none;
  font-size: 14px;
  line-height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  padding: 3% 2px !important;
  text-decoration: none;
  text-shadow: none;
  width: 88px;
}
#navv, img {
  transition: all 200ms ease-in-out 0s;
}

